{% block css %}
{% endblock %}

{% block body %}
<footer>
	<div class="window" data-section="window">

	</div>
	<section data-section="main">
		<select id="language" autocomplete="language" onselect="text.language.select(this.value)">
			{% for language in languages %}
			<option value="{{ language }}">{{ language }}</option>
			{% endfor %}
		</select>
		<script>
			document.getElementById('language').value = localStorage.language ?? 'english';
		</script>
	</section>
</footer>
{% endblock %}

{% block js %}
{% endblock %}
