@charset "UTF-8";

@keyframes uprise {
	0% {
		opacity: 0;
		filter: blur(2px);
	}

	100% {
		opacity: 1;
		filter: blur(0px);
	}
}

.animation.uprise {
	animation-duration: 0.1s;
	animation-name: uprise;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
}


@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

.animation.marquee {
  animation: marquee var(--speed, 3s) linear infinite;
}
