<section data-section="servers" class="animation uprise">
	<search>
		<label>
			<i class="icon data"></i>
			<input class="" name="server" type="text" placeholder="Сервер" list="servers" {% if current and current.address %}
				value="{{ current.address }}" {% endif %} onkeypress="" autofocus="true">
			<datalist id="servers">
				{% for server in servers %}
				<option value="server.">[{{ server.location }}] {{ server.name }}{% if server.description %} {{
					server.description
					}}{% endif %}</option>
				{% endfor %}
			</datalist>
		</label>
		<output id="server">
			{% if current %}
			<p>{{ current.name }} <span>{{ current.location}}</span></p>
			<p>{{ current.description }}</p>
			{% endif %}
		</output>
	</search>
</section>
